@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #0E1111;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  border-radius: 50px;
  padding: 6px 18px;
  font-weight: 700;
  background: rgb(106,158,235);
  background: linear-gradient(90deg, rgba(106,158,235,1) 0%, rgba(0,214,234,1) 100%);
}

section {
  padding: 100px 0;
}

.shadow-sm {
  box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
}

.display-5 {
  font-size: 3rem;
}

header .navbar {
  top: 0;
  height: 96px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header .navbar ul li {
  margin: 10px 0;
  text-align: center;
  font-weight: 600;
}

header .navbar ul li {
  margin: 10px 0;
  text-align: center;
  font-weight: 600;
}

header .navbar ul li:hover {
  color: #0E1111;
}

#about {
  padding-bottom: 200px;
}

#how {
  background-color: #00BDFA;
  padding: 200px 0;
}

#how h1 {
  color: #fff;
}

#play-help .nav-tabs > li > a {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

#play-help .nav-tabs > li > .active {
  color: #00BDFA;
}

#play-help .tab-content {
  color: #0E1111;
  font-weight: 600;
  background-color: #fff;
  padding : 15px 25px;
  border-radius: 0 10px 10px 10px;
}

@media (max-width: 991px) {
  .navbar-collapse {
      position: absolute;
      top: 90px;
      left: -100%;
      width: 100%;
      transition: all 0.4s ease;
      display: block;
      opacity: 0.8;
      padding-bottom: 100%;
      z-index: 1;
  }

  .navbar-collapse.collapsing {
      height: auto !important;
      left: -100%;
      margin-left: 1px;
      transition: all 0.2s ease;
      opacity: 0.9;
  }
  
  .navbar-collapse.show {
      margin-left: 100%;
      transition: all 0.2s ease;
      opacity: 1;
  }
}

/* .owl-pagination {
  margin-top: 24px;
} */

/* #contact .form-group{
  position: relative;
  overflow: hidden;
}

#contact .form-group i{
  position: absolute;
  padding: 10px;
  left: 5px;
  color: #aaa;
}

#contact input {
  border-radius: 50px;
  padding: 0 16px 0 40px;
  background-color: #f8f9ff;
  color: #aaa;
}

#contact textarea{
  background-color: #f8f9ff;
  border-radius: 15px;
  padding: 15px;
}

#contact input:focus {
  box-shadow: none;
  color: #696969;
}

#contact button {
  border-radius: 50px;
} */